body {
    background-color: #ffffff;
    color: #000000;
}



.section-row.en > div[class^='col']:nth-child(1) {
    padding-right: 2px;
}

.section-row.en > div[class^='col']:nth-child(2) {
    padding-left: 2px;
}

.section-row.ar > div[class^='col']:nth-child(1) {
    padding-left: 2px;
}

.section-row.ar > div[class^='col']:nth-child(2) {
    padding-right: 2px;
}

.navbar {
    padding-top: 5px;
}

.navbar ul {
    margin-bottom: 0px;
}

.dropdown-dark {
    background-color: #333 !important;
}

.dropdown-dark a {
    color: #fff !important;
}

.dropdown-dark li a:hover {
    background-color: #111 !important;
}

.backed-link {
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: left center;
}

.brand-seemore {
    font-size: larger;
    text-transform: uppercase;
}

.video-thumbnail {
    background-color: #575757;
    border-color: #3b3b3b;
}

.video-thumbnail.offside {
    height: 120px;
}

.video-thumbnail.offside:nth-child(1) {
    margin-bottom: 20px;
}

.seemodal {
    background-color: #eeeeee;
}

.video-container {
    margin-bottom: 10px;
}

.video-thumbnail-container:hover {
    cursor: pointer;
}

.video-thumbnail-container .play-icon {
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 2;
    color: #959293;
    font-weight: bold;
}

.seemodal .modal-header {
    border-color: #000209;
}

img.img-responsive {
    height: 100%;
}

#btn-chng-lng {
    padding-left: 21px;
    background-color: transparent;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    background-clip: padding-box;
}

#btn-chng-lng.en {
    background-image: url(../img/english-flag.png);
}

#btn-chng-lng.ar {
    background-image: url(../img/egypt-flag.png);
}

#mail {
    padding-left: 38px;
    background-image: url(../img/envelope.png);
}

.pinky {
    color: #ffffff;
    background-color: #d14950;
    background-clip: content-box;
    border-bottom: 10px solid #373d3b;
}

h2.pinky {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

h2.pinky.filler {
    background-color: inherit;
    visibility: hidden;
}

.pinky p {
    padding: 3px 10px;
}

.anchor-target {
    position: absolute;
    top: -65px;
}

.anchor-target.ar {
    top: -85px;
}

ul.dashhead li::before {
    content: '- '
}

.footer-header, .footer-bottom {
    color: #ffffff;
    background-color: #47484d;
    padding: 8px;
}

.footer-bottom {
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-bottom a {
    color: #ffffff;
}

.footer-header p {
    color: #ffffff;
    margin-bottom: 0;
}

.footer-body dl dt {
    margin: 4px 0px;
}

.footer-header p {
    font-size: 18px;
    font-weight: bold;
}

.footer-body.ar {
    padding-bottom: 8px;
}

.footer-body dt {
    color: #e02126;
}

.footer-body dd {
    font-weight: bolder;
}

.footer-body dd form {
    font-weight: normal;
}

.footer-body form input {
    border-radius: 1px;
    margin-bottom: 5px;
}

.footer-body form input[type='text'], .footer-body form input[type='email'] {
    background-color: #47484d;
    color: #a8a9ab;
    font-weight: bolder;
}

.footer-body form input:last-child {
    margin-bottom: 0px;
}

.footer-body .btn-signup {
    background-color: #d14950;
    color: #eeeeee;
}

.btn-signup:hover, .btn-signup:active {
    background-color: #e45057;
    color: #ffffff;
}

.section-description {
    margin: 32px 12px;
    font-weight: bolder;
}

.main-row .pinky {
    border-bottom: none;
}

.main-row .pinky p {
    margin-top: 8px;
}

ul.contacts.ar {
    text-align: right;
    direction: ltr;
}

ul.contacts li {
    margin: 6px;
    text-align: left;
}

.clients img {
    opacity: .75;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.clients img:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .nav-center {
        min-width: 245px;
    }
}

@media (min-width: 992px) {
    .nav-center {
        min-width: 420px;
    }

    /* center middle navbar links when the screen is large */
    ul.nav-center > li {
        display: inline-block;
        width: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    ul.nav-center > li > a {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* end centering middle links */
    #btn-chng-lng {
        margin-left: 8px;
    }
}

@media (min-width: 1170px) {
    body {
        padding-top: 60px;
    }

    body.ar {
        padding-top: 80px;
    }

    .nav-center {
        min-width: 647px;
    }
}

@media (max-width: 768px) {
    #nav-connect {
        float: none !important;
    }

    #nav-connect img {
        width: 28px;
        height: 28px;
    }

    #btn-chng-lng {
        margin-left: 30px;
    }

    #mail {
        margin-left: 15px;
    }

    #nav-connect {
        margin-left: 10px;
    }
}