{% load i18n %}

<ul class="list-unstyled dashhead">
  <li>{% trans 'Organizing advertising and promotional campaigns for business, factories and organizations' %}</li>
  <li>{% trans 'Filming TV. commercials and documentaries' %}</li>
</ul>