{% load i18n %}

<ul class="list-unstyled dashhead">
  <li>{% trans 'Producing film openers, animated logos and motion graphics for satellite channels' %}</li>
  <li>{% trans 'Producing 3D music video clips and visual effects for live clips' %}</li>
</ul>