{% load i18n %}

<ul class="list-unstyled dashhead">
  <li>{% trans 'Sticker design' %}</li>
  <li>{% trans 'Designing company identity and logo' %}</li>
  <li>{% trans "Business identity and logo are important and is one of the business's most important features" %}</li>
  <li>{% trans "Get a special and distinct identity for your business and start like a multinational" %}</li>
</ul>