{% load i18n %}
<div class="col-xs-12">
  <div class="col-xs-5">
    <ul class="list-unstyled dashhead">
      <li>{% trans 'Hosting, design and development of sites' %}</li>
      <li>{% trans 'Software' %}</li>
      <li>{% trans 'E-Marketing' %}</li>
      <li>{% trans 'Advertising campaigns' %}</li>
      <li>{% trans 'Logos and brand identity' %}</li>
    </ul>
  </div>
  <div class="col-xs-offset-1 col-xs-5">
    <ul class="list-unstyled dashhead">
      <li>{% trans 'Publicity and announcement' %}</li>
      <li>{% trans 'Documentaries and advertising and cinematic tricks' %}</li>
      <li>{% trans 'Photography and editing and graphics (2D &amp; 3D)' %}</li>
      <li>{% trans 'Import and Export' %}</li>
      <li>{% trans 'The establishment and organization of exhibitions' %}</li>
    </ul>
  </div>
</div>