{% load i18n %}

<ul class="list-unstyled dashhead">
  <li>{% trans 'Executing motion graphics and cartoons' %}</li>
  <li>{% trans 'Designing film openers and promos for programmes and series' %}</li>
  <li>{% trans 'Producing high-quality commercial TV videos with very low cost' %}</li>
</ul>