{% load staticfiles %}

<div class="row">
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/3di-studio.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/kibaly.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/sequence.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/artistic-p.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/swiss-tech.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/ghadi.jpg' %}"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/guitar.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/afrah.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/masrawya.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/bedaya-tv.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/semsem.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/libya-tv.jpg' %}"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/blue-salon.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/grand-hayat.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/imc.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/afia.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/oud.jpg' %}"/>
  </div>
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/time-movies.jpg' %}"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-2">
    <img src="{% static 'seemore/img/partners/vfx-shot.jpg' %}"/>
  </div>
</div>