{% load staticfiles %}
{% load i18n %}
{% get_current_language as cur_lang %}
<div class="row section-row {{ cur_lang }}">
  <div class="col-xs-9 ">
    <img class="img-responsive" src="{% static 'seemore/img/eye-lamp-ar.JPG' %}"/>
  </div>
  <div class="col-xs-3">
    <a href="#"><img class="img-responsive" src="{% static 'seemore/img/logo-red.png' %}"/></a>
  </div>
</div>