<div class="col-xs-3">
  <div class="fb-page" data-href="https://www.facebook.com/seemoreeg" data-small-header="false"
       data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/seemoreeg"><a href="https://www.facebook.com/seemoreeg">Seemore</a>
      </blockquote>
    </div>
  </div>
</div>