{% load staticfiles %}
{% load i18n %}
{% load seemore_tags %}
{% load crispy_forms_tags %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1"/>
  <link rel="stylesheet" href="{% static 'seemore/css/bootstrap.min.css' %}"/>
  <script src="{% static 'seemore/js/jquery.min.js' %}"></script>
  <script src="{% static 'seemore/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'seemore/js/angular.min.js' %}"></script>
  <script src="{% static 'seemore/js/ui-bootstrap-tpls.js' %}"></script>
  <script src="{% static 'seemore/js/app.js' %}"></script>
  {% if LANGUAGE_CODE == 'ar' %}
    <link rel="stylesheet" href="{% static 'seemore/css/bootstrap-rtl.min.css' %}"/>
  {% endif %}
  {% block more-head %} {% endblock %}
  <link rel="stylesheet" href="{% static 'seemore/css/site.css' %}"/>
  {% block more-head-user %} {% endblock %}
  <title>{% trans 'See More' %} | {% block subtitle %} {% endblock %}</title>
</head>
<!-- site head -->
{% get_current_language as cur_lang %}
<body class="{{ cur_lang }}">
  <div class="container">
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1624731334476095";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-target"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="collapse-target">
        <ul class="nav navbar-nav">
          <li>
            <ul class="list-inline pull-left" id="nav-connect">
              <li><a href="https://www.facebook.com/profile.php?id=100009559603274" title="facebook"><img
                  class="img-responsive"
                  src="{% static 'seemore/img/facebook.png' %}"/></a>
              </li>
              <li><a href="https://vimeo.com/home/myvideos" title="vimeo"><img class="img-responsive"
                                                                               src="{% static 'seemore/img/vimeo.png' %}"/></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCzjOtJtsFqgjxDGuzZbTZ2g/videos" title="youtube">
                  <img class="img-responsive" src="{% static 'seemore/img/youtube.png' %}"/>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/login?lang=ar" title="twitter">
                  <img class="img-responsive" src="{% static 'seemore/img/twitter.png' %}"/>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <form class="navbar-form navbar-left" method="post" action="{% url 'set_language' %}"
                  style="padding: 0;">{% csrf_token %}
              <input type="hidden" name="next" value="/">
              <select name="language" style="display: none;">
                <option value="{% get_other_language_code %}" selected="selected"></option>
              </select>
              {% get_other_language_name as otherlangname %}
              <div class="form-group">
                <button type="submit" id="btn-chng-lng"
                        class="backed-link {% get_other_language_code %} navbar-link">
                  {{ otherlangname }}
                </button>
              </div>
            </form>
          </li>
        </ul>
        <ul class="nav navbar-nav nav-center">
          <li><a href="{% url 'index' %}#">{% trans 'Home' %}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">{% trans 'Services' %}<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-dark">
              <li><a href="{% url 'services' %}#import-export">{% trans 'Import and Export' %}</a></li>
              <li><a href="{% url 'services' %}#websites">{% trans 'Websites' %}</a></li>
              <li><a href="{% url 'services' %}#company-identity">{% trans 'Company Identity' %}</a></li>
              <li><a href="{% url 'services' %}#tv-identity">{% trans 'TV. Identity' %}</a></li>
              <li><a href="{% url 'services' %}#video-clip">{% trans 'Video Clip' %}</a></li>
              <li><a href="{% url 'services' %}#exhibitions">{% trans 'Events and Exhibition' %}</a></li>
              <li><a href="{% url 'services' %}#documentary">{% trans 'Documentary' %}</a></li>
              <li><a href="{% url 'services' %}#advertising">{% trans 'Advertising' %}</a></li>
            </ul>
          </li>
          <li><a href="{% url 'services' %}#clients">{% trans 'Clients' %}</a></li>
          <li><a href="#aboutus">{% trans 'About us' %}</a></li>
          <li><a href="#contact">{% trans 'Contact' %}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:info@seemore-eg.com,s_seemore@yahoo.com" class="backed-link" id="mail">info@seemore-eg.com</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> <!-- end site head -->
<div ng-app="ModalVideoApp">
{% block content %} {% endblock %}
</div>
<!-- site footer -->
<div class="footer" id="aboutus">
    <div class="row">
      <div class="col-xs-12 footer-header">
        <p class="brand-seemore">{% trans 'see more' %}</p>
      </div>
    </div>
    <div class="row footer-body {{ cur_lang }}">
      <div class="col-xs-5">
        <dl>
          <dt>{% trans 'About' %}</dt>
          <dd><span class="brand-seemore">{% trans 'see more' %}</span>
            {% blocktrans trimmed %}
              Company  See More publicity and advertising  No. 2545 Egyptian
              General Authority for Investment and Free Zones ( G.A.F.I )
            {% endblocktrans %}
          </dd>
        </dl>
      </div>
      <div class="col-xs-4">
        <dl>
          <dt>{% trans 'Our Services' %}</dt>
          <dd class="text-capitalize">
              {% trans 'Hosting website design and development' %}<br/>
              {% trans 'programs of the company' %}<br/>
              {% trans 'import and export' %}<br/>
              {% trans 'the establishment and organization of exhibitions' %}<br/>
              {% trans 'documentaries, advertising and digital media (2d & 3d)' %}<br/>
              {% trans 'logos and brand' %}
          </dd>
        </dl>
      </div>
      <div class="col-xs-3" id="contact">
        <dl>
          <dt>{% trans 'Joined the list news' %}</dt>
          <dd>
            {% crispy form %}
          </dd>
        </dl>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <ul class="list-unstyled contacts {{ cur_lang }}">{% trans 'Contact us' %}
            <li><a href="tel:00201009923462" class="connect">(+2) 0100 9923 462</a></li>
            <li><a href="tel:00201009931086" class="connect">(+2) 0100 9931 086</a></li>
            <li><a href="tel:00201002814007" class="connect">(+2) 0100 2814 007</a></li>
            <li><a href="tel:00201005253841" class="connect">viber & Whats App (+2) 0100 5253 841</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  </body>