{% load seemore_tags %}
<script type="text/ng-template" id="video-modal-template">
  <div class="seemodal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true" ng-click="vutilService.closeModal()">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="{{ 'videoURL'|ang_inter }}" class="embed-responsive-item"></iframe>
      </div>
    </div>
  </div>
</script>