{% load i18n %}
{% get_current_language as cur_lang %}
<div>
  <span class="anchor-target {{ cur_lang }}" id="websites"></span>
</div>
<p class="text-center">
  {% blocktrans trimmed %}
    <span class="brand-seemore">See more</span>
    company offers many services to its customers<br/>
    And that enable them to spread in the market and target the right users to achieve the highest profit
  {% endblocktrans %}
</p>