{# site section has a title, image and some videos at the bottom #}
{% comment %}
  Required arguments:
    title
    banner: url of the section image
    banner_template: will be used instead of `banner` when defined to display the banner
    desc_template: a template name to be included that will be used to fill the section description
    index: a numeric indentifier for the section
    video_data: comma-separated parens of (v|y,video id). `v` means vimeo and `y` means youtube
    close: by default, this template keeps it's .row div open so caller can add more content. if close is True, it closes the .row
    target_id: id attribute attached to section title for linking puproses
    pinky_bottom: pinky section title displayed under banner instead of above
{% endcomment %}
{% load i18n %}
{% load seemore_tags %}
{% get_current_language as cur_lang %}
<div class="row section-row {{ cur_lang }}">
  <div class="col-xs-9">
    {% if not pinky_bottom %}
      <span class="anchor-target {{ cur_lang }}" id="{{ target_id }}"></span>
      <h2 class="text-capitalize pinky">{{ title }}</h2>
    {% endif %}
    {% if banner_template %}
      {% include banner_template %}
    {% else %}
      <img class="img-responsive" src="{{ banner }}"/>
    {% endif %}
    {% if pinky_bottom %}
      <div class="row">
        <div class="col-xs-12">
          <h2 class="pinky" id="{{ target_id }}">{{ title }}</h2>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-xs-12 section-description">
        {% include desc_template %}
      </div>
    </div>
    {% if video_data %}
      <div class="row video-container" ng-controller="VideoDataController_{{ index }}">
        <div class="col-xs-12">
          <div class="col-xs-3" ng-repeat="data in videoData">
            <div class="video-thumbnail-container">
              <span class="glyphicon glyphicon-play-circle play-icon"></span>
              <img class="img-thumbnail video-thumbnail"
                   thumbnail-man video-data="{{ 'data'|ang_inter }}"/>
            </div>
          </div>
        </div>
        {% include "seemore/_modal_template.html" %}
        <script>
          angular.module("ModalVideoApp")
              .controller("VideoDataController_{{ index }}", ["$scope", "VideoUtilService", function ($scope, VideoUtilService) {
                $scope.videoData = [{{ video_data|split_for_js }}];
                $scope.vutilService = VideoUtilService;
              }]);
        </script>
      </div>
    {% endif %}

  </div>
  {% if close %}
    </div>
  {% endif %}
