{% load staticfiles %}

<div class="col-xs-3">
  <div class="row">
    <div class="col-xs-12">
      <a href="#"><img class="img-responsive" style="margin-bottom: 4px;" src="{% static 'seemore/img/special-offer.JPG' %}"/></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#"><img class="img-responsive" src="{% static 'seemore/img/special-offer-2.JPG' %}"/></a>
    </div>
  </div>
</div>
