{% extends 'seemore/_layout.html' %}
{% load staticfiles %}
{% load i18n %}
{% load seemore_tags %}

{% block subtitle%}{% trans 'Home' %}{% endblock %}

{% block content %}
  {% get_current_language as cur_lang %}

  {% include 'seemore/_eye_header.html' %}
  <div class="row section-row {{ cur_lang }} main-row">
    <div class="col-xs-9 pinky">
      {% include 'seemore/_services_statement.html' %}
    </div>
    <div class="col-xs-3 pinky">
      <div style="visibility: hidden"><p class="text-center">{% lorem 12 w %}</p></div>
    </div>
  </div>

  {% trans 'Hosting Site Design and Development' as services %}
  {% trans '<span class="brand-seemore">See More</span>' as brand_seemore %}
  {% static 'seemore/img/websites-ar.jpg' as services_banner %}
  {% include 'seemore/_site_section.html' with title=services|add:' '|add:brand_seemore desc_template='seemore/section_templates/services.html' banner=services_banner index=0 video_data='(v,129872645),(v,52771021),(v,64052543),(y,WgYll4eaIIs)' pinky_bottom=True close=False %}
  {% include 'seemore/_special_offer_couple.html' %}
  <div class="col-xs-3" ng-controller="gannatController">
    <h2 class="pinky filler">{% lorem 2 w %}</h2>

    <div class="row video-thumbnail-container center-block text-center" ng-repeat="data in videoData track by $index">
      <div class="col-xs-12">
        <img class="img-thumbnail video-thumbnail offside" thumbnail-man video-data="{{ 'data'|ang_inter }}">
      </div>
    </div>
    {% include 'seemore/_modal_template.html' %}
    <script>
      angular.module("ModalVideoApp")
          .controller("gannatController", ["$scope", "VideoUtilService", function ($scope, VideoUtilService) {
            $scope.videoData = ["(v,134748493)", "(y,jh3-2YWVZ6o)"];
            $scope.vutilService = VideoUtilService;
          }])
    </script>
  </div>
  </div><!-- closes services section-->

{% endblock content %}