{% extends 'seemore/_layout.html' %}
{% load staticfiles %}
{% load i18n %}
{% load seemore_tags %}

{% block subtitle%}{% trans 'Services' %}{% endblock %}

{% block content %}

  {% include 'seemore/_eye_header.html' %}

  {% trans 'Digital Visual Effects in Cinema' as dv_effects_title %}
  {% static 'seemore/img/visual-effects.jpg' as dv_banner %}
  {% include 'seemore/_site_section.html' with title=dv_effects_title desc_template='seemore/section_templates/dv_effects.html' target_id='dv-effects' banner=dv_banner index=2 video_data="(v,129824523),(y,_gIjDyP6iy4),(v,52771021),(y,WgYll4eaIIs)" close=False %}
  {% include 'seemore/_facebook_col.html' %}
  </div><!-- closes dv effects row section -->

  {% trans 'Documentaries and advertising' as doc_title %}
  {% static 'seemore/img/documentary.jpg' as doc_banner %}
  {% include 'seemore/_site_section.html' with title=doc_title desc_template='seemore/section_templates/documentary.html' target_id='documentary' banner=doc_banner index=3 video_data='(v,129872645),(v,129759448),(v,68937518)' close=False %}
  {% include 'seemore/_special_offer_couple.html' %}
  </div> <!-- closes documentary section -->

  {% trans 'Logos and brand identity' as identity_title %}
  {% static 'seemore/img/printing-design.jpg' as identity_banner %}
  {% include 'seemore/_site_section.html' with title=identity_title desc_template='seemore/section_templates/printing_design.html' target_id='company-identity' banner=identity_banner index=4 video_data='(v,64052543)' close=True %}

  {% trans 'TV Channel Identity and Programs' as tv_identity_title %}
  {% static 'seemore/img/tv-identity.jpg' as tv_identity_banner %}
  {% include 'seemore/_site_section.html' with title=tv_identity_title desc_template='seemore/section_templates/tv_identity.html' target_id='tv-identity' banner=tv_identity_banner index=5 video_data="(v,129775047),(y,8ygjTDy2zUg),(v,64052543)" close=True %}

  {% trans 'digital media (2D & 3D)' as vc_prod_title %}
  {% static 'seemore/img/video-clips-songs.jpg' as vc_banner %}
  {% include 'seemore/_site_section.html' with title=vc_prod_title desc_template='seemore/section_templates/videoclip_prod.html' target_id='video-clip' banner=vc_banner index=6 video_data="(y,8n8uRA6kFdw),(y,K76D2u-fkF4),(y,WK8cspzfwzU),(y,WgYll4eaIIs)" close=True %}

  {% trans 'The establishment and organization of exhibitions' as sp_exib_title %}
  {% static 'seemore/img/events-3d-design.jpg' as sp_exhib_banner %}
  {% include 'seemore/_site_section.html' with title=sp_exib_title desc_template='seemore/section_templates/spec_exhib.html' target_id='exhibitions' banner=sp_exhib_banner index=7 video_data="(y,jz514DcTXk4)" close=True %}

  {% trans 'Exhibition Desgin Stand' as ex_st_title %}
  {% static 'seemore/img/exhibition-stands.jpg' as ex_st_banner %}
  {% include 'seemore/_site_section.html' with title=ex_st_title desc_template='seemore/section_templates/exhib_stands.html' banner=ex_st_banner index=8 close=True %}

  {% trans 'Clients' as cl_title %}
  <div class="clients">
    {% include 'seemore/_site_section.html' with title=cl_title desc_template='seemore/section_templates/clients.html'  target_id='clients' banner_template='seemore/section_banners/clients.html' index=9 close=True %}
  </div>

  {% trans 'Hosting Site Design and Development' as services %}
  {% trans '<span class="brand-seemore">See More</span>' as brand_seemore %}
  {% static 'seemore/img/websites-ar-2.jpg' as services_banner %}
  {% include 'seemore/_site_section.html' with title=services|add:' '|add:brand_seemore desc_template='seemore/section_templates/services.html' target_id="websites" banner=services_banner index=0 video_data='(v,129872645),(v,52771021),(v,64052543),(y,WgYll4eaIIs)' pinky_bottom=True close=True %}


{% endblock content %}